:root {
  --darkblue: #2c666e;
  --lightblue: #90ddf0;
  --lightgrey: #f0edee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--lightgrey);
  background-color: var(--darkblue);
}

header {
  padding: 20px 35px;
  background-color: var(--lightblue);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--lightgrey);
  }
  
  header a {
    text-decoration: none;
    color: var(--darkblue);
  }
  
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }